subscriber/node-red-data/flows.json
[
    {
        "id": "87fe46d38405f52d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b1ce21806e2339e",
        "type": "sqlitedb",
        "db": "/MQTT_database_script/temperature.db",
        "mode": "RWC"
    },
    {
        "id": "4f892255e2246205",
        "type": "sqlitedb",
        "db": "/MQTT_database_script/temperature.db",
        "mode": "RWC"
    },
    {
        "id": "cb7b001053edfc66",
        "type": "ui_tab",
        "name": "Sensor Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0f4792f25c63d2d3",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "cb7b001053edfc66",
        "order": 2,
        "disp": true,
        "width": 19,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a4448716.200ac8",
        "type": "ui_group",
        "name": "Threshold",
        "tab": "cb7b001053edfc66",
        "order": 3,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9940d902bbf53b66",
        "type": "ui_group",
        "name": "Chart range",
        "tab": "cb7b001053edfc66",
        "order": 1,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d82ceaa19b0b7e2",
        "type": "ui_spacer",
        "z": "87fe46d38405f52d",
        "name": "spacer",
        "group": "0f4792f25c63d2d3",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "18cbdde4556ee8d7",
        "type": "ui_spacer",
        "z": "87fe46d38405f52d",
        "name": "spacer",
        "group": "0f4792f25c63d2d3",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "2a58cbc804331bb1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4890bcbe5df6270e",
        "type": "function",
        "z": "87fe46d38405f52d",
        "name": "Plot sensor data",
        "func": "const input1 = msg.payload.sensor1;\nconst input2 = msg.payload.sensor2;\nconst input3 = msg.payload.sensor3;\nconst threshold1 = msg.payload.threshold1;\nconst threshold2 = msg.payload.threshold2;\n\n//Create empty chart object\nvar outObj = [{\n    series: [\"Sensor1\", \"Sensor2\", \"Sensor3\",\"\",\"\"],\n    data: [[],[],[],[],[]],\n    lables: [\"\"]\n}]\n\n//Fill chart with data\nfor (let item of input1){\n    outObj[0].data[0].push({\n        x: item.timestamp,\n        y: item.reading\n    })\n}\n\nfor (let item of input2){\n    outObj[0].data[1].push({\n        x: item.timestamp,\n        y: item.reading\n    })\n}\n\nfor (let item of input3){\n    outObj[0].data[2].push({\n        x: item.timestamp,\n        y: item.reading\n    })\n}\n\nfor (let item of threshold1){\n    outObj[0].data[3].push({\n        x: item.timestamp,\n        y: item.threshold1\n    })\n}\n\nfor (let item of threshold2){\n    outObj[0].data[4].push({\n        x: item.timestamp,\n        y: item.threshold2\n    })\n}\n\nmsg.payload = outObj;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 520,
        "wires": [
            [
                "4d1e6cea7a8660bf"
            ]
        ]
    },
    {
        "id": "953d390539cef6c0",
        "type": "sqlite",
        "z": "87fe46d38405f52d",
        "mydb": "4f892255e2246205",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM temperature1 WHERE sensor_name = \"DS18B20_1\" ORDER BY id",
        "name": "Sensor1",
        "x": 440,
        "y": 360,
        "wires": [
            [
                "982be749262dbe9d",
                "ccd6d284d4ce1d6c"
            ]
        ]
    },
    {
        "id": "982be749262dbe9d",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 320,
        "wires": []
    },
    {
        "id": "50548a5d94d22839",
        "type": "sqlite",
        "z": "87fe46d38405f52d",
        "mydb": "4f892255e2246205",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM temperature1 WHERE sensor_name = \"DS18B20_2\" ORDER BY id",
        "name": "Sensor2",
        "x": 440,
        "y": 460,
        "wires": [
            [
                "fbac149b2e7130c3",
                "54497d49c5145273"
            ]
        ]
    },
    {
        "id": "fbac149b2e7130c3",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 420,
        "wires": []
    },
    {
        "id": "693b77b23b92800f",
        "type": "join",
        "z": "87fe46d38405f52d",
        "name": "Join sensor payloads",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 970,
        "y": 480,
        "wires": [
            [
                "7571028c4c9b6cc9",
                "4890bcbe5df6270e"
            ]
        ]
    },
    {
        "id": "ccd6d284d4ce1d6c",
        "type": "change",
        "z": "87fe46d38405f52d",
        "name": "Set topic sensor1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sensor1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 360,
        "wires": [
            [
                "22dc1887faba516b",
                "693b77b23b92800f"
            ]
        ]
    },
    {
        "id": "22dc1887faba516b",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "54497d49c5145273",
        "type": "change",
        "z": "87fe46d38405f52d",
        "name": "Set topic sensor2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sensor2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 460,
        "wires": [
            [
                "2f0fa24e058b416e",
                "693b77b23b92800f"
            ]
        ]
    },
    {
        "id": "2f0fa24e058b416e",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 420,
        "wires": []
    },
    {
        "id": "7571028c4c9b6cc9",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 440,
        "wires": []
    },
    {
        "id": "55629bc25e42e534",
        "type": "sqlite",
        "z": "87fe46d38405f52d",
        "mydb": "4f892255e2246205",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM temperature1 WHERE sensor_name = \"DS18B20_3\" ORDER BY id",
        "name": "Sensor3",
        "x": 440,
        "y": 560,
        "wires": [
            [
                "1f4cb8a1c376f05d"
            ]
        ]
    },
    {
        "id": "1f4cb8a1c376f05d",
        "type": "change",
        "z": "87fe46d38405f52d",
        "name": "Set topic sensor3",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sensor3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 560,
        "wires": [
            [
                "edc0900c234a3625",
                "693b77b23b92800f"
            ]
        ]
    },
    {
        "id": "edc0900c234a3625",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 520,
        "wires": []
    },
    {
        "id": "423edca968888a20",
        "type": "inject",
        "z": "87fe46d38405f52d",
        "name": "Auto refresh",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "55629bc25e42e534",
                "50548a5d94d22839",
                "fa6cc26cceb7f260",
                "29209d2ad9a4b8e8",
                "8f679d67d86ae16a",
                "953d390539cef6c0",
                "6c3cddac82b523c5",
                "6937160fd6f29381",
                "7dc8643a48b14ff1",
                "83f49612a0f68c28"
            ]
        ]
    },
    {
        "id": "d458eae266b6beae",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 780,
        "wires": []
    },
    {
        "id": "fa6cc26cceb7f260",
        "type": "sqlite",
        "z": "87fe46d38405f52d",
        "mydb": "4f892255e2246205",
        "sqlquery": "fixed",
        "sql": "SELECT reading FROM temperature1 WHERE sensor_name = \"DS18B20_3\" ORDER BY rowid desc LIMIT 1",
        "name": "Sensor3 Temp",
        "x": 420,
        "y": 820,
        "wires": [
            [
                "d458eae266b6beae",
                "620604f8673ebfba"
            ]
        ]
    },
    {
        "id": "620604f8673ebfba",
        "type": "change",
        "z": "87fe46d38405f52d",
        "name": "Split reading",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.reading",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 820,
        "wires": [
            [
                "1ac0e33e108d81f9",
                "0ee4e3ed123819e1"
            ]
        ]
    },
    {
        "id": "1ac0e33e108d81f9",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 780,
        "wires": []
    },
    {
        "id": "29209d2ad9a4b8e8",
        "type": "sqlite",
        "z": "87fe46d38405f52d",
        "mydb": "4f892255e2246205",
        "sqlquery": "fixed",
        "sql": "SELECT reading FROM temperature1 WHERE sensor_name = \"DS18B20_2\" ORDER BY rowid desc LIMIT 1",
        "name": "Sensor2 Temp",
        "x": 420,
        "y": 740,
        "wires": [
            [
                "7f1d2637e0a0cae9"
            ]
        ]
    },
    {
        "id": "7f1d2637e0a0cae9",
        "type": "change",
        "z": "87fe46d38405f52d",
        "name": "Split reading",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.reading",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 740,
        "wires": [
            [
                "a19f8c74c476aa15",
                "94b1e830844d2078"
            ]
        ]
    },
    {
        "id": "a19f8c74c476aa15",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 700,
        "wires": []
    },
    {
        "id": "4cf80fc4ca01fc65",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 620,
        "wires": []
    },
    {
        "id": "8f679d67d86ae16a",
        "type": "sqlite",
        "z": "87fe46d38405f52d",
        "mydb": "4f892255e2246205",
        "sqlquery": "fixed",
        "sql": "SELECT reading FROM temperature1 WHERE sensor_name = \"DS18B20_1\" ORDER BY rowid desc LIMIT 1",
        "name": "Sensor1 Temp",
        "x": 420,
        "y": 660,
        "wires": [
            [
                "4cf80fc4ca01fc65",
                "743a21b7dcdfd6ac"
            ]
        ]
    },
    {
        "id": "743a21b7dcdfd6ac",
        "type": "change",
        "z": "87fe46d38405f52d",
        "name": "Split reading",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.reading",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 660,
        "wires": [
            [
                "6b73d312e52e0a63",
                "fd211d4295ed039a"
            ]
        ]
    },
    {
        "id": "6b73d312e52e0a63",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "6c3cddac82b523c5",
        "type": "function",
        "z": "87fe46d38405f52d",
        "name": "Threshold lines",
        "func": "var msg_threshold1 = {};\nvar msg_threshold2 = {};\nvar latestTimestamp = msg.payload;\n\nmsg_threshold1.payload = [{thresholdTemp1:25, latestTimestamp}];\nmsg_threshold1.topic = 'threshold1';\n\nmsg_threshold2.payload = {thresholdTemp2:28};\nmsg_threshold2.topic = 'threshold2';\n\nreturn [msg_threshold1, msg_threshold2];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 180,
        "wires": [
            [
                "4257dff96017086e"
            ]
        ]
    },
    {
        "id": "4257dff96017086e",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 140,
        "wires": []
    },
    {
        "id": "6937160fd6f29381",
        "type": "sqlite",
        "z": "87fe46d38405f52d",
        "mydb": "4f892255e2246205",
        "sqlquery": "fixed",
        "sql": "SELECT timestamp FROM temperature1 WHERE sensor_name = \"DS18B20_1\" ORDER BY id",
        "name": "Get all timestamps",
        "x": 550,
        "y": 100,
        "wires": [
            [
                "6cbf5a6abc60f512",
                "44d1406a375acb5a"
            ]
        ]
    },
    {
        "id": "6cbf5a6abc60f512",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 60,
        "wires": []
    },
    {
        "id": "8ba494147b60ab5d",
        "type": "join",
        "z": "87fe46d38405f52d",
        "name": "Join threshold and date",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1180,
        "y": 280,
        "wires": [
            [
                "d243417bf5f9e6e3"
            ]
        ]
    },
    {
        "id": "d243417bf5f9e6e3",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 240,
        "wires": []
    },
    {
        "id": "44d1406a375acb5a",
        "type": "change",
        "z": "87fe46d38405f52d",
        "name": "Split reading",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.timestamp",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 140,
        "wires": [
            [
                "6c3cddac82b523c5",
                "1123f51f0f9e7393"
            ]
        ]
    },
    {
        "id": "1123f51f0f9e7393",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 100,
        "wires": []
    },
    {
        "id": "da85dbb7a0a8d687",
        "type": "sqlite",
        "z": "87fe46d38405f52d",
        "mydb": "4f892255e2246205",
        "sqlquery": "fixed",
        "sql": "DELETE FROM temperature1;",
        "name": "Delete DB data",
        "x": 1240,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "7dc8643a48b14ff1",
        "type": "sqlite",
        "z": "87fe46d38405f52d",
        "mydb": "4f892255e2246205",
        "sqlquery": "fixed",
        "sql": "SELECT threshold1, timestamp FROM temperature1 WHERE sensor_name = \"DS18B20_1\" ORDER BY id",
        "name": "Get all threshold1 & timestamp",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "eac47095ce42ff80"
            ]
        ]
    },
    {
        "id": "83f49612a0f68c28",
        "type": "sqlite",
        "z": "87fe46d38405f52d",
        "mydb": "4f892255e2246205",
        "sqlquery": "fixed",
        "sql": "SELECT threshold2, timestamp FROM temperature1 WHERE sensor_name = \"DS18B20_1\" ORDER BY id",
        "name": "Get all threshold2 & timestamp",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "89e47abe466e3654"
            ]
        ]
    },
    {
        "id": "34c72fa185a3b6e8",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 220,
        "wires": []
    },
    {
        "id": "b42c063bdabcbbb9",
        "type": "debug",
        "z": "87fe46d38405f52d",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 260,
        "wires": []
    },
    {
        "id": "eac47095ce42ff80",
        "type": "change",
        "z": "87fe46d38405f52d",
        "name": "Set topic theshold1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "threshold1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "693b77b23b92800f",
                "34c72fa185a3b6e8"
            ]
        ]
    },
    {
        "id": "89e47abe466e3654",
        "type": "change",
        "z": "87fe46d38405f52d",
        "name": "Set topic theshold2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "threshold2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "693b77b23b92800f",
                "b42c063bdabcbbb9"
            ]
        ]
    },
    {
        "id": "4d1e6cea7a8660bf",
        "type": "function",
        "z": "87fe46d38405f52d",
        "name": "Format Y-Axis",
        "func": "//to change ymax\nif (msg.topic === \"0\") {\n    var max= msg.payload;\n    delete msg.payload;\n    delete msg.topic;\n    msg.ui_control = { \"ymax\":(max) }\n    return msg;\n}\n//to change ymin\nif (msg.topic === \"1\") {\n    var min= msg.payload;\n    delete msg.payload;\n    delete msg.topic;\n    msg.ui_control = { \"ymin\":(min) }\n    return msg;\n}\n\n \nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 580,
        "wires": [
            [
                "583285f4d68f8a70"
            ]
        ]
    },
    {
        "id": "a4a76fdb520416af",
        "type": "ui_button",
        "z": "87fe46d38405f52d",
        "name": "",
        "group": "0f4792f25c63d2d3",
        "order": 2,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Refresh data",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "953d390539cef6c0",
                "50548a5d94d22839",
                "55629bc25e42e534",
                "8f679d67d86ae16a",
                "29209d2ad9a4b8e8",
                "fa6cc26cceb7f260"
            ]
        ]
    },
    {
        "id": "6e732e776f93fc60",
        "type": "ui_button",
        "z": "87fe46d38405f52d",
        "name": "",
        "group": "0f4792f25c63d2d3",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Clear data",
        "tooltip": "",
        "color": "",
        "bgcolor": "read",
        "className": "",
        "icon": "fa-trash",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1230,
        "y": 480,
        "wires": [
            [
                "583285f4d68f8a70"
            ]
        ]
    },
    {
        "id": "aba32ba5e93a7fec",
        "type": "ui_button",
        "z": "87fe46d38405f52d",
        "name": "",
        "group": "0f4792f25c63d2d3",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Delete DB data",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "fa-trash",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1240,
        "y": 380,
        "wires": [
            [
                "da85dbb7a0a8d687",
                "583285f4d68f8a70"
            ]
        ]
    },
    {
        "id": "a491385b74c1eba4",
        "type": "ui_text_input",
        "z": "87fe46d38405f52d",
        "name": "",
        "label": "Ymax",
        "tooltip": "",
        "group": "9940d902bbf53b66",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 850,
        "y": 580,
        "wires": [
            [
                "4d1e6cea7a8660bf"
            ]
        ]
    },
    {
        "id": "e6ee5cc2d5b8deb1",
        "type": "ui_text_input",
        "z": "87fe46d38405f52d",
        "name": "",
        "label": "Ymin",
        "tooltip": "",
        "group": "9940d902bbf53b66",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 850,
        "y": 620,
        "wires": [
            [
                "4d1e6cea7a8660bf"
            ]
        ]
    },
    {
        "id": "0ee4e3ed123819e1",
        "type": "ui_gauge",
        "z": "87fe46d38405f52d",
        "name": "Gauge: Sensor3",
        "group": "a4448716.200ac8",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Sensor3",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "28",
        "diff": false,
        "className": "",
        "x": 1240,
        "y": 740,
        "wires": []
    },
    {
        "id": "94b1e830844d2078",
        "type": "ui_gauge",
        "z": "87fe46d38405f52d",
        "name": "Gauge: Sensor2",
        "group": "a4448716.200ac8",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Sensor2",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "28",
        "diff": false,
        "className": "",
        "x": 1240,
        "y": 700,
        "wires": []
    },
    {
        "id": "fd211d4295ed039a",
        "type": "ui_gauge",
        "z": "87fe46d38405f52d",
        "name": "Gauge: Sensor1",
        "group": "a4448716.200ac8",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Sensor1",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "28",
        "diff": false,
        "className": "",
        "x": 1240,
        "y": 660,
        "wires": []
    },
    {
        "id": "583285f4d68f8a70",
        "type": "ui_chart",
        "z": "87fe46d38405f52d",
        "name": "Plot sensors",
        "group": "0f4792f25c63d2d3",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Sensors",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "500",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#26a269",
            "#e5a50a",
            "#241f31",
            "#f9f06b",
            "#f66151",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1230,
        "y": 520,
        "wires": [
            []
        ]
    }
]